html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font: 13px helvetica, arial, freesans, clean, sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

header {
  padding-right: 25px;
  padding-left: 25px;
}
.logo {
  padding: 10px;
}

ul {
  list-style: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  word-wrap: inherit;
  width: 100%;
  font-weight: bold;
}

.list {
  margin-right: 88px;
  /*display: flex;
  width: 25%;
  justify-content: space-between;*/
}

header {
  width: 100%;
  background-color: rgb(241, 240, 240);
}

.space {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  padding: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-top: 1px dotted #cacaca;
  padding: 10px;
  width: 92%;
  margin: 50px;
}

.center {
  justify-content: center;
}

.foot {
  display: flex;
  justify-content: space-between;
}

.foot p {
  margin-right: 25px;
  margin-left: 0;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-right: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px dotted #cacaca;
}

.underline {
  border-bottom: 1px dotted #cacaca;
}

.title img {
  height: 30px;
  vertical-align: middle;
}

.title span {
  color: #777;
}

.title b {
  font-weight: bold;
  color: #333;
}

.title p {
  line-height: 30px;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  * {
    header {
      display: flex;
      flex-direction: column;
    }
    .display {
      margin-left: 0;
    }
  }
}

p {
  color: #cacaca;
}

.border {
  border: 1px dotted #cacaca;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.padding {
  padding: 10px;
}

footer {
}
